@use 'sass:list';

$wall: 1px solid var(--border-color);
$size: 2rem;

:host {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  height: $size;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: $size;

  @each $class,
    $dir in ('up': 'top', 'right': 'right', 'down': 'bottom', 'left': 'left')
  {
    // Set a border in the direction indicated by the class.
    &.#{$class} {
      border-#{$dir}: $wall;
    }

    // Move the span's text content outside of the element in the direction indicated by which edge
    // it's on, so that the endpoint arrows are rendered outside the maze edge.
    &.endpoint-edge-#{$class} span {
      @if list.index(('top', 'bottom'), $dir) {
        #{$dir}: -95%;
      } @else {
        #{$dir}: -90%;
      }
    }
  }

  span {
    position: absolute;
  }

  span.current-position,
  span.historical-position {
    background: var(--current-position-color);
    border-radius: 50%;
    height: calc($size / 3);
    inset: calc($size / 2 - $size / 6); // centers the element within the node
    width: calc($size / 3);
  }

  span.historical-position {
    background: var(--path-color);
  }
}
