<header>
  <amaze-logo [sizePx]="36" [color]="iconColor" />

  <div>
    <button
      class="material-symbols icon-button"
      title="Solve the maze"
      (click)="solveMaze()"
      data-test-id="solve-maze-button"
    >
      conversion_path
    </button>

    <button
      class="material-symbols icon-button"
      title="Generate a new maze"
      (click)="generateNewMaze()"
      data-test-id="generate-maze-button"
    >
      refresh
    </button>

    <button
      class="material-symbols icon-button"
      title="Toggle light/dark mode"
      (click)="toggleDarkMode()"
      data-test-id="toggle-dark-mode-button"
    >
      {{ themeModeIcon }}
    </button>

    <button
      class="material-symbols icon-button"
      title="Share this maze"
      (click)="shareMaze()"
      data-test-id="share-maze-button"
    >
      share
    </button>

    <a
      class="icon-button"
      href="https://github.com/chrispyles/amaze"
      target="_blank"
      title="View on GitHub"
    >
      <github-logo [color]="iconColor" />
    </a>
  </div>
</header>

@if (viewportTooSmall()) {
  <div data-test-id="viewport-size-error">
    This browser's dimensions are too small for this application. Please view it
    in a desktop browser.
  </div>
} @else {
  <amaze-maze [maze]="maze" (move)="handleMove($event)" />
}

<div class="snack-bar" [class.visible]="snackBarText()">
  {{ snackBarText() }}
</div>
