<header>
  <amaze-logo [sizePx]="36" [color]="logoColor" />

  <div>
    <button
      class="material-symbols icon-button"
      title="Solve the maze"
      (click)="solveMaze()"
      data-test-id="solve-maze-button"
    >
      conversion_path
    </button>

    <button
      class="material-symbols icon-button"
      title="Generate a new maze"
      (click)="generateNewMaze()"
      data-test-id="generate-maze-button"
    >
      refresh
    </button>

    <button
      class="material-symbols icon-button"
      title="Toggle light/dark mode"
      (click)="toggleDarkMode()"
      data-test-id="toggle-dark-mode-button"
    >
      {{ themeModeIcon }}
    </button>

    <button
      class="material-symbols icon-button"
      title="Share this maze"
      (click)="shareMaze()"
      data-test-id="share-maze-button"
    >
      share
    </button>
  </div>
</header>

<amaze-maze [maze]="maze" (move)="handleMove($event)" />
