$header-padding: 1rem;

:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $header-padding;
  position: absolute;
  top: 0;
  width: calc(100% - 2 * $header-padding);

  > div {
    display: flex;
  }
}
